---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/asottile/seed-isort-config
      rev: v2.2.0
      hooks:
          - id: seed-isort-config
    - repo: https://github.com/pre-commit/mirrors-isort
      rev: v5.10.1
      hooks:
          - id: isort
    - repo: https://github.com/ambv/black
      rev: 22.10.0
      hooks:
          - id: black
            language_version: python3.8
    - repo: https://github.com/PyCQA/flake8
      rev: 6.0.0
      hooks:
          - id: flake8
            exclude: output|data
    - repo: https://github.com/nbQA-dev/nbQA
      rev: 1.5.3
      hooks:
          - id: nbqa-black
          - id: nbqa-pyupgrade
            args: [--py36-plus]
          - id: nbqa-isort
            exclude: output|data
          - id: nbqa-flake8
    - repo: local
      hooks:
          - id: jupyter-nb-clear-output
            name: jupyter-nb-clear-output
            files: \.ipynb$
            stages: [commit]
            language: system
            entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.2 # or specific tag
      hooks:
          - id: yamlfmt
    - repo: local
      hooks:
          # run your unittests
          - id: unittests
            name: unittests
            entry: pytest -m "not slow" .
            language: system
            types: [python]
            require_serial: true
            always_run: True
            pass_filenames: false
          # matches conventional commit messages
          # https://www.conventionalcommits.org/en/v1.0.0/#summary
          - id: verify-commit-msg
            name: Conventional commit message prefix
            entry: commit-msg.sh
            language: script
            stages: [commit-msg]